/* This rule can be removed once showLoadingSpinner() is removed form JS */

#loadingSpinnerWrapper.loadingSpinnerWrapper {
  display: none !important;
}
/**********************************************************/

body {
  display: flex;
  background-color: rgb(0, 0, 0);
  background-image: url('/DNA_common/images/Hex-Background.jpg');
}
/* Switches ***********************************************/

#powerToggle {
  margin-top: 10em;
}

.switch {
  margin-right: auto;
  margin-left: auto;
}

.switch-mysize .switch-plate {
  width: 112px;
  height: 38px;
}

.nfcBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 720px;
  height: 1280px;
}

.nfcwrapper {
  position: relative;
}

.nfcPowerText {
  position: absolute;
  top: 6em;
  width: 100%;
  text-align: center;
  color: rgb(196, 196, 196);
}

.toggleLabelOff {
  float: left;
}

.toggleLabelOn {
  float: right;
}

.toggleLabel {
  width: 155px;
  height: 38px;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: rgb(196, 196, 196);
}

.inputBar {
  width: 28.0em;
  height: 80px;
  margin-top: 2em;
  margin-right: auto;
  margin-left: 3em;
  border: none;
}

.inputNumber {
  font-size: 3rem;
  line-height: 1.25em;
  display: inline;
  float: left;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  color: rgb(196, 196, 196);
  border: none;
}

.inputNumber:active {
  border: 1px solid #ffffb2;
  outline: none;
}

.keyboard {
  display: none;
}

.nfcAdapterPoweredWrapper {
  position: absolute;
  top: 20em;
  width: 100%;
  height: 720px;
  color: rgb(196, 196, 196);
}

.nfcNDEFRecordTextInputBox {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 170px;
  width: 380px;
}

.inputBox input.nfcNDEFRecordTextInput {
  width: 330px;
  padding-right: 25px;
  text-align: center;
}

.inputBox input.nfcNDEFRecordTextInput:focus {
  font-size: 34px;
  line-height: 34px;
  color: rgb(255, 255, 255);
  color: rgba(255, 255, 255, 1.0);
}

.nfcNDEFMessageText {
  position: absolute;
  top: .5em;
  width: 100%;
  text-align: center;
}

.nfcPlaceTagText {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}

.nfcWriteDataWrapper {
  position: absolute;
  top: .5em;
  width: 100%;
  height: 119px;
}

.nfcEditDataText {
  text-align: center;
}

.nfcWriteDataButton {
  line-height: 43px;
  width: 220px;
  margin: 30px auto 0 auto;
  padding: 1em;
  list-style: none;
  text-align: center;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(196, 196, 196);
  background: rgba(0, 0, 0, .9);
  box-shadow: inset 0 0 20px rgb(205, 255, 178);
}

.nfcWriteDataButton:active {
  color: rgb(205, 255, 178);
  border: 1px solid rgb(255, 255, 178);
  background: rgba(0, 0, 0, .9);
  box-shadow: inset 0 0 36px rgb(89, 255, 0);
}

@-webkit-keyframes wink {
  from {
    background-position: 0;
  }
  to {
    background-position: -5356px;
  }
}

.nfcPlaceTag {
  position: absolute;
  top: 9em;
  left: 11.0em;
  width: 412px;
  height: 412px;
  -webkit-animation: wink 1.5s steps(13) infinite;
  color: rgb(197, 197, 197);
  background-image: url(../images/tag_detection_img.png);
}

.on.nfcPlaceTag {
  background-image: url('../images/detectorHexOn.png');
}

.off.nfcPlaceTag {
  -webkit-animation: wink 1.5s steps(13) infinite;
  background-image: url(../images/tag_detection_img.png);
}

.hexText {
  position: absolute;
  top: 5em;
  width: 412px;
  height: 412px;
  text-align: center;
}

.dummy {
  top: 15em;
  width: 412px;
  height: 412px;
}

.nfcTagDetected {
  top: 10em;
  left: 20.4em;
  width: 412px;
  height: 412px;
  margin: 20em 0 0 20.7em;
  color: rgb(197, 197, 197);
  background-image: url('../images/detectorHexOn.png');
  background-repeat: no-repeat;
  background-position: -3296px 0;
}

.nfcTagNotDetected {
  -webkit-animation-name: animate-detecting;
  -webkit-animation-duration: .75s;
  -webkit-animation-timing-function: step-start;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  background-position: 0 0;
}

@keyframes animate-detecting {
  0% {
    background-position: 0 0;
  }
  12.5% {
    background-position: 0 0;
  }
  25% {
    background-position: -412px 0;
  }
  37.5% {
    background-position: -824px 0;
  }
  50% {
    background-position: -1236px 0;
  }
  62.5% {
    background-position: -1648px 0;
  }
  75% {
    background-position: -2060px 0;
  }
  87.5% {
    background-position: -2472px 0;
  }
  100% {
    background-position: -2884px 0;
  }
}

.bottomPanelLogoImg {
  background: url('../images/AMG_Linux_White.png') no-repeat center !important;
}
